.resumebutton {
	background-color: rgb(237, 187, 79);
	border: none;
}
.resumebutton:hover {
	background-color: #ffffff;
	color: rgb(237, 187, 79);
}

.hero-wrap {
	width: 100%;
	height: 100%;
	position: relative;
	z-index: 0;
}

.subheading {
	font-size: 24px;
	color: lighten(rgb(0, 0, 0.5));
	font-weight: 300;
}

h1 {
	letter-spacing: 1px;
	font-weight: 900;
}

.facebook,
.twitter,
.instagram,
.github {
	color: black;
}

ul {
	list-style-type: none;
}

.period {
	font-size: 60px;
	line-height: 70px;
	color: #aaa;
}

.navimage {
	width: 50%;
	height: 230px;
	margin-left: 25%;
	margin-bottom: 20px;
	border-radius: 50%;
	position: relative;
	overflow: hidden;
}
.navimage img {
	min-width: 100%;
	min-height: 100%;
	width: auto;
	height: auto;
	position: absolute;
	left: 50%;
	top: 50%;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

.vertical-nav {
	min-width: 17rem;
	width: 17rem;
	height: 100vh;
	position: fixed;
	top: 0;
	left: 0;
	box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
	transition: all 0.4s;
}

.page-content {
	width: calc(100% - 17rem);
	/* margin-left: 17rem; */
	transition: all 0.4s;
}

/* for toggle behavior */

#sidebar.active {
	margin-left: -17rem;
}

#content.active {
	width: 100%;
	margin: 0;
}

@media (max-width: 768px) {
	#sidebar {
		margin-left: -17rem;
	}
	#sidebar.active {
		margin-left: 0;
	}
	#content {
		width: 100%;
		margin: 0;
	}
	#content.active {
		margin-left: 17rem;
		width: calc(100% - 17rem);
	}
}

body {
	background-image: url(../images/bg_1.jpg);
}

.separator {
	margin: 3rem 0;
	border-bottom: 1px dashed #fff;
}

.text-uppercase {
	letter-spacing: 0.1em;
}

.text-gray {
	color: #aaa;
}

.article-margin {
	margin-left: 200px;
}
