.scrollbar {
	margin-left: 30px;
	float: left;
	height: 350px;
	overflow-y: scroll;
	margin-bottom: 25px;
}

.hero-wrap {
	width: 100%;
	height: 100%;
	position: relative;
	z-index: 0;
}

.subheading {
	font-size: 24px;
	color: lighten(rgb(0, 0, 0.5));
	font-weight: 300;
}

h1 {
	letter-spacing: 1px;
	font-weight: 900;
}

.force-overflow {
	min-height: 450px;
}

.resume-button {
	background-color: rgb(176, 131, 148) !important;
	border: none;
	border-radius: 20px;
}
.resume-button:hover {
	color: black !important;
}

.skills {
	font-weight: 500;
	color: rgb(176, 131, 148);
	font-size: 34px;
}

.navimage {
	width: 50%;
	height: 220px;
	margin-left: 25%;
	margin-bottom: 20px;
	/* border-radius: 50%; */
	position: relative;
	overflow: hidden;
}
.navimage img {
	min-width: 100%;
	min-height: 100%;
	border-radius: 30%;
	/* width: auto;
	height: auto;
	position: absolute;
	left: 50%;
	top: 50%; */
	/* -webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%); */
}

@media (max-width: 450px) {
	.about-container {
		margin-left: -140px !important;
	}
	.navimage {
		width: 90px !important;
		height: 140px !important;
		margin-left: 40px !important;
	}
	h1 {
		font-size: 30px !important;
		font-weight: 600;
	}
}

@media (max-width: 700px) {
	.about-container {
		margin-left: -150px;
	}
	.navimage {
		width: 50% !important;
		height: 150px !important;
		margin-left: 70px !important;
	}
}

/* @media (max-width: 1000px) {
	.navimage {
		margin-left: 140px !important;
	}
} */

@media (max-width: 1500px) {
	.navimage {
		width: 200px !important;
		height: 250px !important;
		margin-left: 200px;
		border-radius: 0%;
	}
}
